@model ProMaster.Core.Reporting.ViewModels.AccountingCostViewModel

<div id="property">
    
                    <div class="title_icon">
                        <img src="@Url.Content(@Model.PropertyImageUrl)" alt="" title="@Model.PropertyName" />
                    </div>
                    <!----> <div class="title_text"><h5>@Html.DisplayFor(model => model.PropertyName)</h5><br /><br />
                        <span class="title_caption">@Html.DisplayFor(model => model.PropertyDesc)<br /></span>
                    </div> 
                    
                     <div id="addr"><br />
                        @Html.DisplayFor(model => model.PropertyAddressSuiteNumber)
                        @Html.DisplayFor(model => model.PropertyAddressStreetNumber)
                        @Html.DisplayFor(model => model.PropertyAddressStreetName)
                        @Html.DisplayFor(model => model.PropertyAddressCity),
                        @Html.DisplayFor(model => model.PropertyAddressProvState)
                        @Html.DisplayFor(model => model.PropertyAddressPostZipCode)
                        @Html.DisplayFor(model => model.PropertyAddressCountry)<br />
                    </div>
                    
                
   
</div><br />
<p></p>
<div id="report_title">Property Mainteance Cost Report</div>
<div id="report_data">
    Repair Cost:
    <br /><br />
        @Html.Partial("_RepairCost") <p></p><br />
    Other (Misc.) Cost:<br /><br />
        @Html.Partial("_OtherCost") 

        <p></p><br />
    Total Maintenance Costs: &nbsp;
    <span  class="total">$@ViewBag.totalMaintCosts</span>
        <p></p><br /><br /><br />

    <p><a class="left-aligned edit_button button_border" id="pdf" href="@Url.Content("~/Reporting/ExportReportPDF/?id=" + @ViewBag.pid +"&tId=1&startDate=" + @ViewBag.start +"&endDate=" +@ViewBag.end  )"  target="_blank">Export in PDF...</a></p> 
    <!--Start: @ViewBag.start ..-->
                

</div> 