@model ProMaster.Core.Reporting.ViewModels.AccountingCostViewModel

@{
    ViewBag.Title = "Property Cost Report";
}


<div class="content-wrapper">
    <aside> 
    <p><!-- Left Panel/Column -->
      <div id="left">
        
         
      	    <div class="profile_logo">
        	    <img src="@Url.Content("~/Content/Images/financial.png")" alt="" title="" />            
            </div>

             <div class="profile_caption metro">
        	    <h3>Report on<br />Maintenance Costs </h3>
        	    <br />

                <span>
            	    
                </span>
             
    </div>

      <p></p>
      
      <div class="side-widget tile-margin metro">
      <p></p>
        <div class="side-inner">
          
        </div>
      
      </div>     


      </div>      
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </aside><!-- End of aside -->

    <div class="main metro">
        <!-- -->
        

       

        <div id="manage-tabs" class="tabs-style">
            <ul>
                <li><a href="#tabs-1"><i class="fa fa-tachometer"></i> <span>Maintenance Costs</span></a></li>
                <li><a href="#tabs-2"><i class="fa fa-qrcode"></i> Management Costs</a></li>
            </ul>

            <div id="tabs-1">

                <div id="add_edit_panel">
                   <h3 style="margin-top:-1em;"><span class="no_bg"><i class="fa fa-th" style="color:#dd4b39"></i> &nbsp; PROPERTY MAINTENANCE COSTS REPORT</span>    	
                      <span class="no_bg">Select the property and generate report.</span>
                   </h3>
        
                    <div class="edit_field">                    
                       <input class="rlabel" id="all" type="radio" name="ppt"  />All Properties<br> 
                       <input class="rlabel" id="indi" type="radio" name="ppt"/>Selected Property
                    </div>

                    <div  class="chose">
                    <div id="p">
                        @Html.DropDownListFor(model => model.PropertyId, Model.PropertyList, new {id ="property" })
                    </div>
                    <div id="choose"><span>From:</span>
                        <div class="display-field">
                            <input style="width:16em;" id="sDate"  type="text" class="datepicker" value="@DateTime.Now.ToString("M/d/yyyy")" />
                        </div>
                    </div>
                    <div id='choose1'><span>TO:</span>
                        <input  style="width:16em;" type="text" id="eDate" class="datepicker" value="@DateTime.Now.ToString("M/d/yyyy")" />
                    </div><br />
                    <div class="left-aligned"><input id="md" type="submit" value="Get Report" /><div id="loading"></div></div>

                    <div id="report" class="metro">
                        <fieldset>
                            <legend><i class="icon-clipboard-2" style="background:#007bb6; color: white; padding: 10px; border-radius: 50%"></i> Property Maintenance Costs Report</legend>
                        
                            <div id="period">Report Time Period: &nbsp; Start:<div id="s"></div> &nbsp; End: <div id="e"></div></div>
                            <br /><br /> 
                            <div id="statement"></div>

                        </fieldset>                    
                     </div>

            </div>
            
    </div>
            

            </div>     
            <div id="tabs-2">
               <div id="add_edit_panel">
               <h3 style="margin-top:-1em;"><span class="no_bg"><i class="fa fa-th" style="color:#dd4b39"></i> &nbsp; PROPERTY MANAGEMENT COSTS REPORT</span>    	
                  <span class="no_bg">Select the property and generate report.</span>
               </h3>
        
                <div class="edit_field">                    
                   <input class="rlabel"id="all1" type="radio" name="ppt1"  />All Properties<br> 
                   <input class="rlabel" id="indi1" type="radio" name="ppt1"/>Selected Property
                </div>

                <div  class="chose">
                    <div id="p1">
                        @Html.DropDownListFor(model => model.PropertyId, Model.PropertyList, new {id ="property1" })
                    </div>
                    <div id="choose10"><span>From:</span>
                        <div class="display-field">
                            <input style="width:16em;" id="sDate1"  type="text" class="datepicker" value="@DateTime.Now.ToString("M/d/yyyy")" />
                        </div>
                    </div>
                    <div id='choose11'><span>TO:</span>
                        <input  style="width:16em;" type="text" id="eDate1" class="datepicker" value="@DateTime.Now.ToString("M/d/yyyy")" />
                    </div><br />
                    <div class="left-aligned"><input id="md1" type="submit" value="Get Report" /><div id="loading1"></div></div>

                    <div id="report1" class="metro">
                    <fieldset>
                        <legend><i class="icon-clipboard-2" style="background:#007bb6; color: white; padding: 10px; border-radius: 50%"></i> Property Management Costs Report</legend>
                        
                        <div id="period1">Report Time Period: &nbsp; Start:<div id="s1"></div> &nbsp; End: <div id="e1"></div></div>
                        <br /><br /> 
                        <div id="statement1"></div>

                    </fieldset>                    
                 </div>

            </div>
            
    </div>
            

            </div>     
            
          




        </div>




</div>
    
    </div><!-- End of content-wrapper -->


<script type="text/javascript">
    $(document).ready(function () {
        $("#all").prop('checked', true);
        $("#p").hide();
        //$("#report").hide();

        $("#indi").change(function () {

            var isChecked = $(this).is(':checked');



            if (isChecked) {
                $("#p").show();
            }
            else {
                $("#p").hide();
            }
        });

        $("#all").change(function () {

            var isChecked = $("#indi").is(':checked');



            if (isChecked) {
                $("#p").show();
            }
            else {
                $("#p").hide();
            }
        });

    });
		

</script>

<script type="text/ecmascript">
    $(function () {
        $(".datepicker").datepicker();
    });
</script>

<!-- Financial Reporting Script --> 
<script type="text/javascript">
    $(document).ready(function () {
        $("#md").button();
        $("#report").hide();        
        //$("#period").hide();
    

        $("#md").click(function () {
            $("#period").show();

            $("#loading").show();

            var sDate = $("#sDate").val();
            var eDate = $("#eDate").val();
            // var propertyId = @(Model.PropertyId);
            var propertyId = $("#property option:selected").val();

            //alert(propertyId);

                $("div#s").text(sDate);
                $("#e").text(eDate);

               
                
               

                var url="/Reporting/GetMaintenanceCostsByProperty/";
                var q = "id=" + propertyId + "&startPeriod=" + sDate + "&endPeriod=" + eDate;
                    $.get(url, q, function(data){
                        $("#statement").html(data);
                        $("#report").show();
                         
                        $("#loading").fadeOut("1000");

                        return false;        
                
               
                
                        // Suceeded 
            
                    });
        });
    });




</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#loading").hide();
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#manage-tabs").tabs();
    });
</script>

<!-- Script for tab=2 -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#all1").prop('checked', true);
        $("#p1").hide();
        //$("#report").hide();

        $("#indi1").change(function () {

            var isChecked = $(this).is(':checked');



            if (isChecked) {
                $("#p1").show();
            }
            else {
                $("#p1").hide();
            }
        });

        $("#all1").change(function () {

            var isChecked = $("#indi1").is(':checked');



            if (isChecked) {
                $("#p1").show();
            }
            else {
                $("#p1").hide();
            }
        });

    });


</script>

<!-- Financial Reporting Script --> 
<script type="text/javascript">
    $(document).ready(function () {
        $("#md1").button();
        $("#report1").hide();
        //$("#period").hide();


        $("#md1").click(function () {
            $("#period1").show();

            $("#loading1").show();

            var sDate = $("#sDate1").val();
            var eDate = $("#eDate1").val();
            // var propertyId = @(Model.PropertyId);
            var propertyId = $("#property1 option:selected").val();

            //alert(propertyId);

            $("div#s1").text(sDate);
            $("#e1").text(eDate);


            //alert("wait...");


            var url = "/Reporting/GetManagementCostsByProperty/";
            var q = "id=" + propertyId + "&startPeriod=" + sDate + "&endPeriod=" + eDate;
            $.get(url, q, function (data) {
                $("#statement1").html(data);
                $("#report1").show();

                $("#loading1").fadeOut("1000");

                return false;



                // Suceeded 

            });
        });
    });




</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#loading1").hide();
    });



</script>