@model ProMaster.Core.Reporting.ViewModels.AccountingCostViewModel

@{
    ViewBag.Title = "Export Report in PDF";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

     <div id="property">
    
                    <div class="title_icon">
                      
                    </div>

                    @if (ViewBag.pid != 0)
                    {
                    <!----> <div class="title_text"><h5>@Html.DisplayFor(model => model.PropertyName)</h5><br /><br />
                        <span class="title_caption">@Html.DisplayFor(model => model.PropertyDesc)<br /></span>
                    </div> 
                    
                     <div id="addr"><br />
                        @Html.DisplayFor(model => model.PropertyAddressSuiteNumber)
                        @Html.DisplayFor(model => model.PropertyAddressStreetNumber)
                        @Html.DisplayFor(model => model.PropertyAddressStreetName)<br />
                        @Html.DisplayFor(model => model.PropertyAddressCity),
                        @Html.DisplayFor(model => model.PropertyAddressProvState)<br />
                        @Html.DisplayFor(model => model.PropertyAddressPostZipCode)<br />
                        @Html.DisplayFor(model => model.PropertyAddressCountry)<br />
                    </div>
                    
                    }
                    else
                    {
                        <div class="title_text"><h5>Maintenance Cost Report for All Managed Properties</h5><br /><br />
                        <span class="title_caption">Costs include repair and other costs<br /></span>
                    </div>   
                    }
   
</div><br />

    <p></p>
<div id="report_title">PropertyFinancial Report</div>
<div>

    @if(@ViewBag.tId == 1)
    {
       
            <div id="report_data">
                Repair Cost:
                <br /><br />
                    @Html.Partial("_RepairCost_pdf") <p></p><br />
                Other (Misc.) Cost:<br /><br />
                    @Html.Partial("_OtherCost_pdf") 

                    <p></p><br />
                Total Maintenance Costs: &nbsp;
                <span  class="total">$@ViewBag.totalMaintCosts</span>
                    <p></p><br /><br /><br />
            </div>
    }
    @if(@ViewBag.tId == 2)
    {
         <div>
                Management Fees:<br /><br />
                @Html.Partial("_ManagementFee_pdf") 
                <p></p><br />
                Total Management Costs: &nbsp;
                <span  class="total">$@ViewBag.totalfee</span>
                    <p></p><br /><br /><br />
            </div>
    }
    
</div>
    
</body>
</html>



