@model PagedList.IPagedList<ProMaster.Core.ViewModels.ManageDisplayViewModel>

<table>
    <thead>
        <tr>
            <td colspan="9" class="table-h amarelo">
                <span><i class="fa fa-th"></i></span> Tenant List
            </td>
        </tr>
    </thead>
    <tr>
        <th>ID</th>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Telephone</th>

        <th>Email</th>
        <th>Added Date</th>
        <th></th>
        <th></th>
    </tr>


    @if (Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantId)
                </td>
                <td>
                    <div class="table_img"><img src="@Url.Content(Model.FirstOrDefault().AvartaImgUrl)" title="" /></div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantContactTelephone1)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TenantContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantAddedDate)
                </td>

                <td>
                    <div class="table-button"><a href="@Url.Action("TenantDetails", "Manage", new { id=item.TenantId })"><img src="@Url.Content("~/Content/Images/details.png")" title="Details" /></a></div>
                </td>
                <td>
                    <div class="table-button"><a href="@Url.Action("DeleteTenant", "Manage", new { id=item.TenantId })"><img src="@Url.Content("~/Content/Images/delete.png")" title="Delete" /></a></div>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="10">No record</td>

        </tr>

    }

    <tfoot>
        <tr>
            <td colspan="9"><span><i class="fa fa-th"></i></span></td>

        </tr>
    </tfoot>
</table>