@model IEnumerable<ProMaster.Core.ViewModels.ManageDisplayViewModel>

@{
    ViewBag.Title = "All Lease Agreements List";
}

<table>
            <thead>
            	<tr>
                	<td colspan="10" class="table-h verde">
                    <span><i class="fa fa-th-list"></i></span> Landlord List 
                    </td>                    
                </tr>	
            </thead>
            	<th>ID &nbsp;</th>
                    <th>Property</th>
                    <th>Tenant First Name</th>
                    <th>Tenant Last Name</th>
                    <th>Sign Date</th>
                    <th>Start Date</th>
                    <th>Monthly Rent</th>
                    <th></th> 
                    <th></th>  
                
                
            @if (Model.Count() != 0)
            { 
                foreach (var item in Model)
                {
                   <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaseId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PropertyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenantFirstName)
                            </td>
                             <td>
                                @Html.DisplayFor(modelItem => item.TenantLastName)
                            </td>                       
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaseSignDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaseStartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RentAmount)
                            </td>

                            <td>
                    	        <div class="table-button"><a href="@Url.Action("LeaseDetails", "Manage", new { id = item.LeaseId })"><img src="@Url.Content("~/Content/Images/details.png")" title="Details" /></a></div>
                            </td>
                            <td>
                    	        <div class="table-button"><a class="delete-link" href="@Url.Action("DeleteLease", "Manage", new { id = item.LeaseId })"><img src="@Url.Content("~/Content/Images/delete.png")" title="Delete" /></a></div>	
                            </td>
                         </tr>    
                }
            }
            else
            {
                 <tr>
                     <td colspan="10">No records</td>                        
                 </tr>
            }
                
                <tfoot>
                	<tr>
                        <td colspan="10"><span><i class="fa fa-th"></i></span></td>
                        
                	</tr>                
                </tfoot>
            </table>
