@model ProMaster.Core.Tenant.ViewModels.DisplayTenantViewModel

<!--
<ul>
    @foreach (var item in Model.DocumentInfo)
    { 
        <li>
        <a href="@Url.Content(@item.DocumentUrl)" target="_blank"><img src="@Url.Content("~/Content/Documents/image_icon.png")" alt="" title="@item.DocumentName" width="36" height="36"/></a>
        @item.DocumentId
        @item.DocumentName
        @item.DcoumentDetails
        @item.CreationDate
        @Html.ActionLink("Details", "DocumentDetails", "Document", new { id = @item.DocumentId}, null)
        @Html.ActionLink("Delete", "DeleteDocument", "Document", new { id = @item.DocumentId }, new { @class = "delete-link" })
        </li>
    
    }
</ul>

-->

<table>
                                <thead class="table_head">
            	                    <tr>
                	                    <td colspan="7" class="table-h table_head">
                                        <span><i class="icon-clipboard-2"></i></span> Document List
                                        </td>                    
                                    </tr>	
                                </thead>
            	                <tr>
                                    <th class="table_th"></th>
                	                <th class="table_th">ID</th>
                                    <th class="table_th">Title</th>
                                    <th class="table_th">Description</th>
                                    <th class="table_th">Added On</th>
                                    <th class="table_th"></th> 
                                    <th class="table_th"></th>                   
                                </tr>
                                @foreach (var item in Model.DocumentInfo)
                                {
                                    <tr>
                                        <td><span class="doc_icon"><img src="@Url.Content("~/Content/Images/pdf.png")" /></span></td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DocumentId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DocumentName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DcoumentDetails)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreationDate)
                                        </td>
                                        
                                        <td>
                    	                    <div class="table-button"><a href="@Url.Action("DocumentDetails", "Document", new { id=item.DocumentId })"><img src="@Url.Content("~/Content/Images/details.png")" title="Details" /></a></div>
                                        </td>
                                        <td>
                    	                    <div class="table-button"><a class="delete-link" href="~/Document/DeleteDocument/@item.DocumentId"><img src="@Url.Content("~/Content/Images/delete.png")" title="Delete" /></a></div>	
                                        </td>
                                     </tr>  
                                }
                                <tfoot class="table_th">
                	                <tr>
                                        <td colspan="7"><span><i class="icon-clipboard-2"></i></span></td>
                        
                	                </tr>                
                                </tfoot>
                            </table>