@model ProMaster.Core.Tenant.ViewModels.CreateTenantViewModel

@{
    ViewBag.Title = "Add Tenant";
}

<div class="content-wrapper">
    <aside> 
    <p><!-- Left Panel/Column -->
      <div id="left">        
         
      	    <div class="profile_logo">
        	    <img src="@Url.Content("~/Content/Images/tenant.png")" alt="" title="Add Property" />        
            </div>
            <div class="profile_caption metro">
        	    <h3>New Tenant</h3>
                <br />
                <span>
            	    Add new tenant 
                </span>
            </div>
             

      <p></p>
      
        <div class="side_title_caption metro">
            <br /><br />
            <div>Note:</div>
            <br />
            <span>When a tenant is added, its status will be pending until it is added to a lease/renatl agreement. If you want enable online access, you need specify username and password. The online access can also be enabled later on.</span>
            <br /><br /><br /><br />
            <span><i class="icon-new-tab rss_color"></i> Quick Access</span>
            <div class="side-widget">
                <a href="@Url.Content("~/Tools/Messaging")" title="Messaging"><div class="tile amarelo" id="p1"><span><i class="fa fa-envelope-o"></i></span><br /><br /> Messaging</div></a>
                <a href="@Url.Content("~/Tools/Calendar")" title="Calendar"><div class="tile vermelho" id="p2"><span><i class="fa fa-calendar-o"></i></span><br /><br /> Calendar</div></a>
                <a href="@Url.Content("~/Tools/Resources")" title="Resources"><div class="tile metro_dark_blue" id="p3"><span><i class="fa fa-user"></i></span><br /><br /> Resources</div></a>
                <a href="@Url.Content("~/Tools/DocTool")" title="Document Tools"><div class="tile purple" id="p4"><span><i class="icon-clipboard-2"></i></span><br /><br /> Document Tools</div></a>
            </div>
        </div>
            

      </div>      
    
  </aside><!-- End of aside -->


  <div class="main metro">
       <div id="add_edit_panel">
           <h3><i class="fa fa-th"></i> &nbsp; ADD TENANT        	
              <span>Please fill/Update all required fields and click "Add".</span>
           </h3>

            @using (Html.BeginForm()) {
                @Html.ValidationSummary(true)

                 <div class="edit_field">
                     <fieldset>
                         <legend><span><i class="fa fa-info-circle"></i> Basic Information</span></legend>
                                   
                
                        <div class="display-label">
                            First Name:
                        </div>
                        <div class="display-field">
                            @Html.TextBoxFor(model => model.FistName, new { autofocus="", required = "required"})
                            @Html.ValidationMessageFor(model => model.FistName)
                        </div>

                        <div class="display-label">
                            Last Name:
                        </div>
                        <div class="display-field">
                            @Html.TextBoxFor(model => model.LastName, new { required = "Required" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>                   

                        <div class="display-label">
                           Email:
                        </div>
                        <div class="display-field">
                            @Html.TextBoxFor(model => model.ContactEmail, new { required = "Required" })
                            @Html.ValidationMessageFor(model => model.ContactEmail)
                        </div>

                        <div class="display-label">
                            Telephone 1:
                        </div>
                        <div class="display-field">
                           @Html.TextBoxFor(model => model.ContactTelephone1, new { required = "Required" })
                           @Html.ValidationMessageFor(model => model.ContactTelephone1)
                        </div>

                        <div class="display-label">
                          Telephone 2:
                        </div>
                        <div class="display-field">
                            @Html.EditorFor(model => model.ContactTelephone2)
                            @Html.ValidationMessageFor(model => model.ContactTelephone2)
                        </div>

                        <div class="display-label">
                           Enable Online Access:
                        </div>
                        <div class="display-field">
                            @Html.EditorFor(model => model.OnLineAccessEnabled)
                            @Html.ValidationMessageFor(model => model.OnLineAccessEnabled)
                        </div>
                </fieldset>

                
               
               </div>           
               
                <div class="right-aligned"><input type="submit" value="Add" /></div>
            }

           



        </div>  

  </div>





</div>




<!-- to be deleted

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CreateTenantViewModel</legend>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.FistName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FistName)
            @Html.ValidationMessageFor(model => model.FistName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactEmail)
            @Html.ValidationMessageFor(model => model.ContactEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactTelephone1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactTelephone1)
            @Html.ValidationMessageFor(model => model.ContactTelephone1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactTelephone2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactTelephone2)
            @Html.ValidationMessageFor(model => model.ContactTelephone2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AvartaImgUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AvartaImgUrl)
            @Html.ValidationMessageFor(model => model.AvartaImgUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OnLineAccessEnabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OnLineAccessEnabled)
            @Html.ValidationMessageFor(model => model.OnLineAccessEnabled)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>         

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
    
-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
