@model ProMaster.Core.Lease.ViewModels.EditLeaseViewModel

@{
    ViewBag.Title = "Edit Lease";
}


<div class="content-wrapper">
    <aside> 
    <p><!-- Left Panel/Column -->
      <div id="left">
        
         
      	    <div class="profile_logo">
        	    <img src="@Url.Content("~/Content/Images/lease.png")" alt="" title="@Model.LeaseTitle" />            
            </div>

             <div class="profile_caption metro">
        	    <h3>@Html.DisplayFor(model => model.LeaseTitle)</h3>
        	    <br />

                <span>
            	    <div class="display-label">
                       Lease Added on:
                    </div><br />
                    <div class="display-field">
                        @Html.DisplayFor(model => model.CreationDate)
                    </div><br />

                    <div class="display-label">
                        Last Updated on:
                    </div><br />
                    <div class="display-field">
                        @Html.DisplayFor(model => model.UpdateDate)
                    </div><br />
                </span>
             
    </div>

      <p></p>
      
        <div class="side_title_caption metro">
            <p></p>
            <span><i class="icon-new-tab rss_color"></i> Quick Access</span>
            <div class="side-widget">
                <a href="@Url.Content("~/Tools/Messaging")" title="Messaging"><div class="tile amarelo" id="p1"><span><i class="fa fa-envelope-o"></i></span><br /><br /> Messaging</div></a>
                <a href="@Url.Content("~/Tools/Calendar")" title="Calendar"><div class="tile vermelho" id="p2"><span><i class="fa fa-calendar-o"></i></span><br /><br /> Calendar</div></a>
                <a href="@Url.Content("~/Tools/Resources")" title="Resources"><div class="tile metro_dark_blue" id="p3"><span><i class="fa fa-user"></i></span><br /><br /> Resources</div></a>
                <a href="@Url.Content("~/Tools/DocTool")" title="Document Tools"><div class="tile purple" id="p4"><span><i class="icon-clipboard-2"></i></span><br /><br /> Document Tools</div></a>
            </div>

        </div>      


      </div>      
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </aside><!-- End of aside -->

  <div class="main metro">
    <div id="add_edit_panel">
        <h3><i class="fa fa-th"></i> &nbsp; EDIT LEASE        	
          <span>Please fill/Update all required fields and click "Save".</span>
        </h3>
                <!-- <fieldset class="edit"> 
                <legend><span></span></legend> --><!-- </fieldset>  -->
                
                @using (Html.BeginForm()) 
                { 
                    <div class="edit_field">
                         <fieldset>
                            <legend><span><i class="fa fa-info-circle"></i> Basic Information</span></legend>
                            
                                           
                                <div class="display-label">
                                    <span class="grey-font">Lease ID:</span>
                                </div>
                             <div class="display-field" style="padding-top: 5px;">
                                 <span class="grey-font">@Html.DisplayFor(model => model.LeaseId)</span>
                             </div> 
                                <br /><br />
                                    <br />
                                <div class="display-label">
                                    Lease  Title:
                                </div>
                                <div class="display-field">
                                    @Html.TextBoxFor(model => model.LeaseTitle, new { autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.LeaseTitle)
                                </div> 
                                <br />
                                <div class="display-label">
                                    Description:
                                </div>
                                <div class="display-field">
                                    @Html.TextAreaFor(model => model.LeaseDesc)                                
                                </div>
                                <br />
                             <!--
                                <div id = "tenant2">
                                    <a href="" id="addtnt">Add New Tenant</a> 
                                </div>
                                <div id = "cancel">
                                    <a href="" id="cls">Cancel</a> 
                                </div>
                                <br />
                              
                                <div id="newlist" >          
                                    @Html.DropDownListFor(model => model.TenantId, Model.TenantList, "--Select Tenant--")
        
                                </div>
                             -->
                                <div class="display-label">
                                    Lease Start Date:
                                </div>
                                <div class="display-field">
                                   @Html.TextBoxFor(model => model.LeaseStartDate, new { @class = "datepicker", @Value = Model.LeaseStartDate })
                                   
                                </div>
                                <br />
                                <div class="display-label">
                                    Lease End Date:
                                </div>
                                <div class="display-field">
                                   @Html.TextBoxFor(model => model.LeaseEndDate, new { @class = "datepicker", @Value = Model.LeaseEndDate })
                                </div>
                                <br />
                                <div class="display-label">
                                    Lease Term:
                                </div>
                                <div class="display-field">
                                   @Html.DropDownListFor(model => model.LeaseTermId, Model.LeaseTermList)                                   
                                </div>
                                <br />
                                <div class="display-label">
                                    Rent Frequency:
                                </div>
                                <div class="display-field">
                                   @Html.EditorFor(model => model.RentFrequency)
                                   @Html.ValidationMessageFor(model => model.RentFrequency)
                                </div>
                                <br />
                                <div class="display-label">
                                    Rent Amount:
                                </div>
                                <div class="display-field">
                                   @Html.EditorFor(model => model.RentAmount)
                                   @Html.ValidationMessageFor(model => model.RentFrequency)
                                </div>
                                <br />
                                <div class="display-label">
                                    Damage Deposit Amount:
                                </div>
                                <div class="display-field">
                                   @Html.EditorFor(model => model.DamageDepositAmount)
                                   @Html.ValidationMessageFor(model => model.DamageDepositAmount)
                                </div>
                                <br />
                                <div class="display-label">
                                    Pet Deposit Amount:
                                </div>
                                <div class="display-field">
                                   @Html.EditorFor(model => model.PetDepositAmount)
                                   @Html.ValidationMessageFor(model => model.PetDepositAmount)
                                </div>
                                <br />
                                <div class="display-label">
                                    Rent Due On:
                                </div>
                                <div class="display-field">
                                   @Html.EditorFor(model => model.RentDueOn)
                                   @Html.ValidationMessageFor(model => model.RentDueOn)
                                </div>
                                <br />
                                <div class="display-label">
                                    Addendum Available:
                                </div>
                                <div class="display-field">
                                   @Html.EditorFor(model => model.Addendum)
                                   @Html.ValidationMessageFor(model => model.Addendum)
                                </div>
                                <br />
                                
                                <div class="display-label">
                                    Notes:
                                </div>
                                <div class="display-field">
                                   @Html.TextAreaFor(model => model.Notes)                                   
                                </div>
                                <br />
                                <div class="display-label">
                                    Is Active?
                                </div>
                                <div class="display-field">
                                   @Html.EditorFor(model => model.IsActive)                              
                                </div>
                                <br />
                                
                            </fieldset>
                                <br />

                        </div> 
                    
                    <div class="right-aligned"><input type="submit" value="Save" /></div>
                } 

             </div> 
  
  
  </div><!-- end of main -->



</div><!-- end of content wrapper-->





<!-- 
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CreateLeaseViewModel</legend>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.LeaseTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LeaseTitle)
            @Html.ValidationMessageFor(model => model.LeaseTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LeaseDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LeaseDesc)
            @Html.ValidationMessageFor(model => model.LeaseDesc)
        </div>

        <div id = "tenant2">
            <a href="" id="addtnt">Add New Tenant</a> 
        </div>
        <div id = "cancel">
            <a href="" id="cls">Cancel</a> 
        </div>
        <br />

        <div id="newlist" >          
            @Html.DropDownListFor(model => model.TenantId, Model.TenantList, "--Select Tenant--")
        
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LeaseStartDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LeaseStartDate, new { @class = "datepicker", @Value = Model.LeaseStartDate })
            @Html.ValidationMessageFor(model => model.LeaseStartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LeaseEndDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LeaseEndDate, new { @class = "datepicker", @Value = Model.LeaseEndDate })
            @Html.ValidationMessageFor(model => model.LeaseEndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LeaseTermList)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LeaseTermId, Model.LeaseTermList)
            @Html.ValidationMessageFor(model => model.RentFrequency)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RentFrequency)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RentFrequency)
            @Html.ValidationMessageFor(model => model.RentFrequency)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RentAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RentAmount)
            @Html.ValidationMessageFor(model => model.RentAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DamageDepositAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DamageDepositAmount)
            @Html.ValidationMessageFor(model => model.DamageDepositAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PetDepositAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PetDepositAmount)
            @Html.ValidationMessageFor(model => model.PetDepositAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RentDueOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RentDueOn)
            @Html.ValidationMessageFor(model => model.RentDueOn)
        </div>        

        <div class="editor-label">
            @Html.LabelFor(model => model.Addendum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Addendum)
            @Html.ValidationMessageFor(model => model.Addendum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LeaseUpdateDate)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.LeaseUpdateDate)
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Notes)
            
        </div>
        

 

        <div class="editor-label">
            @Html.LabelFor(model => model.OnLineAccessEnabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OnLineAccessEnabled)
            @Html.ValidationMessageFor(model => model.OnLineAccessEnabled)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#newlist").hide();
        $("#cls").hide();
    });

    $(function () {
        $(".datepicker").datepicker();
    });

    $("#tenant2").click(function () {
        $("#newlist").show();
        $("#tenant2").hide();
        $("#cls").show();
        return false;
    });

    $("#cls").click(function () {
        $("#newlist").hide();
        $("#tenant2").show();
        $("#cls").hide();
        return false;
    });
</script>