@model ProMaster.Core.Contract.ViewModels.CreateContractViewModel

@{
    ViewBag.Title = "Edit Management Contract";
}


<div class="content-wrapper">
    <aside> 
    <p><!-- Left Panel/Column -->
      <div id="left">
        
         
      	    <div class="profile_logo">
        	    <img src="@Url.Content("~/Content/Images/documents3.png")" alt="" title="@Model.ContractTitle" />            
            </div>

             <div class="profile_caption metro">
        	    <h3>@Html.DisplayFor(model => model.ContractTitle)</h3>
        	    <br />

                <span>
            	    <div class="display-label">
                       Contract Entered on:
                    </div><br />
                    <div class="display-field">
                        @Html.DisplayFor(model => model.CreateDate)
                    </div><br />

                    <div class="display-label">
                        Last Updated on:
                    </div><br />
                    <div class="display-field">
                        @Html.DisplayFor(model => model.UpdateDAte)
                    </div><br />
                </span>
             
    </div>

      <p></p>
      
        <div class="side_title_caption metro">
            <p></p>
            <span><i class="icon-new-tab rss_color"></i> Quick Access</span>
            <div class="side-widget">
                <a href="@Url.Content("~/Tools/Messaging")" title="Messaging"><div class="tile amarelo" id="p1"><span><i class="fa fa-envelope-o"></i></span><br /><br /> Messaging</div></a>
                <a href="@Url.Content("~/Tools/Calendar")" title="Calendar"><div class="tile vermelho" id="p2"><span><i class="fa fa-calendar-o"></i></span><br /><br /> Calendar</div></a>
                <a href="@Url.Content("~/Tools/Resources")" title="Resources"><div class="tile metro_dark_blue" id="p3"><span><i class="fa fa-user"></i></span><br /><br /> Resources</div></a>
                <a href="@Url.Content("~/Tools/DocTool")" title="Document Tools"><div class="tile purple" id="p4"><span><i class="icon-clipboard-2"></i></span><br /><br /> Document Tools</div></a>
            </div>

        </div>      


      </div>      
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </aside><!-- End of aside -->

    <div class="main metro">
    <div id="add_edit_panel">
        <h3><i class="fa fa-th"></i> &nbsp; EDIT CONTRACT        	
          <span>Please fill/Update all required fields and click "Save".</span>
        </h3>
                <!-- <fieldset class="edit"> 
                <legend><span></span></legend> --><!-- </fieldset>  -->
                
                @using (Html.BeginForm()) 
                { 
                    <div class="edit_field">
                         <fieldset>
                            <legend><span><i class="fa fa-info-circle"></i> Basic Information</span></legend>
                            
                                           
                                <div class="display-label">
                                    <span class="grey-font">Lease ID:</span>
                                </div>
                                <div class="display-field" style="padding-top: 5px;">
                                    <span class=" grey-font">@Html.DisplayFor(model => model.ContractId)</span>
                                </div>
                                <br /><br />
                                    <br />
                                <div class="display-label">
                                    Lease  Title:
                                </div>
                                <div class="display-field">
                                    @Html.TextBoxFor(model => model.ContractTitle, new { autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.ContractTitle)
                                </div> 
                                <br />
                                <div class="display-label">
                                    Start Date:
                                </div>
                                <div class="display-field">
                                    @Html.TextBoxFor(model => model.StartDate, new { @class="datepicker", @value = Model.StartDate})                                
                                </div>
                                <br />
                                <div class="display-label">
                                    End Date:
                                </div>
                                <div class="display-field">
                                    @Html.TextBoxFor(model => model.EndDate, new { @class="datepicker", @value = Model.EndDate})                                
                                </div>
                                <br />
                                
                                <div class="display-label">
                                    Fee Rate:
                                </div>
                                <div class="display-field">
                                   @Html.EditorFor(model => model.FeeScale)                                  
                                </div>
                                <br />
                                <div class="display-label">
                                    Placement Fee:
                                </div>
                                <div class="display-field">
                                   @Html.EditorFor(model => model.ListingFeeScale)
                                   @Html.ValidationMessageFor(model => model.ListingFeeScale)
                                </div>
                                <br />
                                <div class="display-label">
                                    Fee Frequency:
                                </div>
                                <div class="display-field">
                                   @Html.DropDownListFor(model => model.FeeFrequencyId, Model.FeeFrequency)           
                                </div>
                                <br />
                                
                                
                            </fieldset>
                                <br />

                        </div> 
                    
                    <div class="right-aligned"><input type="submit" value="Save" /></div>
                } 

             </div> 
  
  
  </div><!-- end of main -->




</div><!-- end of content wrapper-->

<!--

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CreateContractViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContractId)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.ContractId)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContractTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContractTitle)
            @Html.ValidationMessageFor(model => model.ContractTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FeeScale)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FeeScale)
            @Html.ValidationMessageFor(model => model.FeeScale)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ListingFeeScale)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ListingFeeScale)
            @Html.ValidationMessageFor(model => model.ListingFeeScale)
        </div>

        <div class="editor-label">
           Management Fee Frequency:
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.FeeFrequencyId, Model.FeeFrequency)
            @Html.ValidationMessageFor(model => model.FeeFrequencyId)
        </div>
        

        <div class="editor-label">
            @Html.LabelFor(model => model.SignDate)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.SignDate)
            @Html.ValidationMessageFor(model => model.SignDate)
        </div>

        

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

    -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker();
    });
</script>