@{
    ViewBag.Title = "ExportPDF";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<paragraph style="font-family: Helvetica; font-size: 18; font-style: bold;">
    <chunk><h3>RExport Financial Statement (PDF)</h3></chunk>
</paragraph>

<paragraph>
    <chunk style="font-family:Times;font-weight:bold;">StartDate: </chunk>
    <chunk style="font-family:Times;">@Model.StartDate</chunk>
</paragraph>

<paragraph>
    <chunk style="font-family:Times;font-weight:bold;">End Date: </chunk>
    <chunk style="font-family:Times;">@Model.EndDate</chunk>
</paragraph>

<paragraph>
    <chunk style="font-family:Times;font-weight:bold;">Total Repair Costs: </chunk>
    <chunk style="font-family:Times;">@Model.TotalRepairCosts</chunk>
</paragraph>

<paragraph>
    <chunk style="font-family:Times;font-weight:bold;">Total Other Costs: </chunk>
    <chunk style="font-family:Times;">@Model.TotalOtherCosts</chunk>
</paragraph>

<paragraph>
    <chunk style="font-family:Times;font-weight:bold;">Total Management Fees: </chunk>
    <chunk style="font-family:Times;">@Model.TotalFees</chunk>
</paragraph>

<paragraph>
    <chunk style="font-family:Times;font-weight:bold;">Total Repair Costs: </chunk>
    <chunk style="font-family:Times;">@Model.TotalRentRevenue</chunk>
</paragraph>

<paragraph>
    <chunk style="font-family:Times;font-weight:bold;">Total Net Income: </chunk>
    <chunk style="font-family:Times;">@Model.TotalNetIncome</chunk>
</paragraph>