@model ProMaster.Core.Property.ViewModels.ListingViewModel

@{
    ViewBag.Title = "Properies for Rent";
}

<div class="content-wrapper">
    <aside> 
    <p><!-- Left Panel/Column -->
      <div id="left">
      	<div class="side_title-logo">
        	<img src="@Url.Content("~/Content/Images/house_rent.png")" alt="" title="Tools" />
            
        </div>
        <div class="side_title_caption">
        	<h3>For Rent List</h3>
        	<br>
            <span>All that you need to find right house to rent</span>
        
        </div>
      </div>
      
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </aside> <!-- End of aside -->

  <div class="main metro">	

    <div class="list_panel">

        <div id="full_rent_display">
            <ul>
                 @foreach (var item in Model.PropertyList)
                  {
                      <li>
                        <div class="list_img"><img id="shot1" src="@Url.Content(@item.PropertyImageUrl)"  alt="" /></div>
                        <h4>

                           @item.PorpertyListingTitle

                        </h4>
                        <div class="full_caption">@item.PropertyListDesc <br /><br />
                          
                          Rent: @item.ListedRentAmount per month.<br /><br />
                        @Html.ActionLink("More Details", "PropertyDetails", "Property", new { id = item.PropertyId }, null) &nbsp;@*<a href="#"  itemtype="@item.PropertyListingId">Map Lookup</a>&nbsp;*@ <a href="#" id="@item.PropertyListingId" >Apply</a></div><br />
                          <br />
                          <div id="result"></div>  
                          <div class="img_list">
                              <ul>
                                  @if (Model.PropertyPictures.Count() != 0)
                                  {

                                      foreach (var picture in Model.PropertyPictures.Where(p => p.PropertyId == item.PropertyId))
                                      {
                                          <li style=" display:inline-block; width:2.25em; padding:5px;">
                                              <div class="thumb_img"> <img id="@picture.PropertyListPictureId" src="@Url.Content(@picture.ListPictureImgUrlThumb)" title="@picture.PropertyPictureTitle" /></div>
                                              <!-- Script to popup image -->
                                              <script type="text/javascript">
                                                    $(document).ready(function () {

                                                        $(".showD").hide();

                                                        $("#@picture.PropertyListPictureId").mouseover(function () {

                                                            //var x = e.pageX - $(document).scrollLeft();
                                                            //var y = e.pageY - $(document).scrollTop();

                                                          var dialogOpts = {
                                                              autoOpen: false,
                                                              modal: false,
                                                              resizable: false,
                                                              //position:[x+5,y+5],
                                                              position:{
                                                                  my: "left",
                                                                  at: "right",
                                                                  of: event,
                                                                  offset: "20 40"
                                                              },
                                                              width: 'auto',
                                                              height:120,
                                                              draggable: false

                                                          };

                                                          $(".ui-dialog-titlebar").hide();

                                                          $("[itemid=@picture.PropertyListPictureId]").dialog(dialogOpts).dialog('open');

                                                            return false;
                                                          
                                                        });

                                                        @*$("[itemid=@picture.PropertyListPictureId]").mouseleave(function () {

                                                            $("[itemid=@picture.PropertyListPictureId]").dialog('close');

                                                            return false;
                                                        });*@

                                                        $("#@picture.PropertyListPictureId").mouseleave(function () {

                                                            $("[itemid=@picture.PropertyListPictureId]").dialog('close');

                                                            return false;
                                                        });

                                                  });
                                              </script>

                                              <div class="showD" itemid="@picture.PropertyListPictureId"  style="border-width:0px;">
                                                  <img itemref="@picture.PropertyListPictureId" src="@Url.Content(@picture.ListPictureImgUrlMed)" /><br />
                                                  <div style="font-size:.75em;">@picture.ListedPropertyPictureCaption</div>
                                              </div>

                                          </li>

                                      
                                      }
                                  }
                                  else
                                  {
                                      <em>No images</em>
                                  }
                              </ul>

                            </div><br />                          
                            <p></p>
                            
                            <div id="result" style="margin-top:0.75em; color: #D03A17;"></div>
                        
                            
                        <!-- Apply for Tenancy Dialog -->
                          <div itemid="@item.PropertyListingId" class="apply_form metro" style="display:none;">

                              <p></p>
                              <h4 class="ui-dia" style="margin-bottom: 1em;"><i class="fa fa-th"></i> &nbsp; TENANCY APPLICATION</h4>


                              <div class="edit_field">

                                  <fieldset style="width:28em;">
                                      <p>
                                          <span style="color:#e91b1b;">All fields are required, lack of information will delay your applicaiton process!</span>
                                      </p>
                                      <div class="display-label">
                                          First Name:
                                      </div>
                                      <div class="display-field  field_sp " style="width:17em;">
                                          <input id="fname_@item.PropertyListingId" type="text" placeholder="First Name" />
                                      </div>
                                      <div class="display-label">
                                          Last Name:
                                      </div>
                                      <div class="display-field field_sp" style="width:17em;">
                                          <input id="lname_@item.PropertyListingId" type="text" placeholder="Last Name" />
                                      </div>
                                      <div class="display-label">
                                          SIN/SSN: <i class="icon-help"></i>
                                      </div>
                                      <div class="display-field field_sp" style="width:17em;">
                                          <input id="sin_@item.PropertyListingId" type="text" value="000-000-000" />
                                      </div>
                                      <div class="display-label">
                                          Contact Email:
                                      </div>
                                      <div class="display-field field_sp" style="width:17em;">
                                          <input id="email_@item.PropertyListingId" type="text" placeholder="Your Email" />
                                      </div>
                                      <div class="display-label">
                                          Contact Telephone:
                                      </div>
                                      <div class="display-field field_sp" style="width:17em;">
                                          <input id="tele_@item.PropertyListingId" type="text" placeholder="Your Phone number" />
                                      </div>
                                      <div class="display-label">
                                          Current Address:
                                      </div>
                                      <div class="display-field" style="width: 16.5em; height:4em; margin-left: -0.35em;">
                                          <textarea id="address_@item.PropertyListingId" placeholder="Your Current Address"></textarea>
                                      </div>
                                      <div class="display-label">
                                          Current Employer:
                                      </div>
                                      <div class="display-field field_sp" style="width:17em;">
                                          <input id="c_employer_@item.PropertyListingId" type="text" placeholder="Employer & Contact" />
                                      </div>
                                      <div class="display-label">
                                          Previous Employer:
                                      </div>
                                      <div class="display-field field_sp" style="width:17em;">
                                          <input id="p_employer_@item.PropertyListingId" type="text" placeholder="Employer & Contact" />
                                      </div>
                                      <div class="display-label">
                                          Current Landlord:
                                      </div>
                                      <div class="display-field field_sp" style="width:17em;">
                                          <input id="c_landlord_@item.PropertyListingId" type="text" placeholder="Landlord & Contact" />
                                      </div>
                                      <div class="display-label">
                                          Previous Landlord:
                                      </div>
                                      <div class="display-field field_sp" style="width:17em;">
                                          <input id="p_landlord_@item.PropertyListingId" type="text" placeholder="Landlord & Contact" />
                                      </div>
                                      <div class="display-label">
                                          Montly Income:
                                      </div>
                                      <div class="display-field field_sp" style="width:17em;">
                                          <input id="income_@item.PropertyListingId" type="text" placeholder="Your Gross Income" />
                                      </div>
                                      <div class="display-label">
                                          Credit Score: <i class="icon-help"></i>
                                      </div>
                                      <div class="display-field field_sp" style="width:17em;">
                                          <input id="score_@item.PropertyListingId" type="text" placeholder="Credit Score" />
                                      </div>

                                      <div class="display-label">
                                          No. of Occupants:
                                      </div>
                                      <div class="display-field field_sp" style="width:17em;">
                                          <input id="tenant_@item.PropertyListingId" type="text" placeholder="How Many Occupants" />
                                      </div>
                                      <div class="display-label">
                                          No. of Children:
                                      </div>
                                      <div class="display-field field_sp" style="width:17em;">
                                          <input id="child_@item.PropertyListingId" type="text" placeholder="How Many Children" />
                                      </div>
                                      <div class="display-label" style="width:20em; color:#ff0000;">
                                          By submitting the application form, I agree that the landlord/agent can check my references.
                                          <br /><br />
                                          <span style="color:#00ff21;">You will be notified by email!</span> 
                                      </div>






                                  </fieldset>
                                  <!--<input class="edit_button" id="submit1" type="submit"  value="Add" />
            <input class="edit_button" type="button" value="Cancel" id="btncancel" /> -->
                                  <p>
                                      
                                  </p>
                              </div>





                              <script type="text/javascript">
                                $(document).ready(function () {

                                $("#@item.PropertyListingId").click(function () {




                                    var dialogOpts = {
                                        autoOpen: false,
                                        modal: true,
                                        resizable: false,
                                        draggable: false,
                                        width: 535,
                                        title: 'Apply for Tenancy',
                                        buttons: {
                                            "Cancel": function () {
                                                $(this).dialog("close");
                                            },

                                            "Continue": function () {

                                                var counter = 0;

                                                var fn = $("#fname_@item.PropertyListingId").val();
                                                var ln = $("#lname_@item.PropertyListingId").val();
                                                var sin = $("#sin_@item.PropertyListingId").val();
                                                var email = $("#email_@item.PropertyListingId").val();
                                                var tel = $("#tele_@item.PropertyListingId").val();
                                                var address = $("#address_@item.PropertyListingId").val();
                                                var cemp = $("#c_employer_@item.PropertyListingId").val();
                                                var pemp = $("#p_employer_@item.PropertyListingId").val();
                                                var clanl = $("#c_landlord_@item.PropertyListingId").val();
                                                var planl = $("#p_landlord_@item.PropertyListingId").val();
                                                var mincome = $("#income_@item.PropertyListingId").val();
                                                var cscore = $("#score_@item.PropertyListingId").val();
                                                var ten = $("#tenant_@item.PropertyListingId").val();
                                                var chd = $("#child_@item.PropertyListingId").val();



                                                //alert(fn);

                                                //alert(tel);

                                                //alert(@(item.PropertyId));

                                                $.ajax({
                                                    type: "POST",
                                                    url: "/Property/Apply",
                                                    data: "id=" + @(item.PropertyId) + "&firstName=" + fn + "&lastName=" + ln + "&sin=" + sin + "&eMail=" + email + "&telePhone=" + tel + "&currentAddr=" + address + "&currentEmp="
                                                        + cemp + "&previousEmp=" + pemp + "&currentLand=" + clanl + "&previousLand=" + planl + "&monthlyIncom=" + mincome + "&creditScore=" + cscore + "&NumTenant=" + ten + "&NumChild=" + chd,

                                                    contenType: "",
                                                    dataType: "json",
                                                    success: Suceeded
                                                });

                                                function Suceeded(data) {
                                                    $("#result").text(data);
                                                    $('#result').delay(3000).fadeOut(3000);
                                                }

                                                $(this).dialog("close");

                                            }

                                        }

                                    };


                                    $("[itemid=@(item.PropertyListingId)]").dialog(dialogOpts).dialog('open');

                                    return false;

                                });


                            });





                              </script>
                          
                          
                          </div>  
                          
                          <!-- Map -->
                          <div itemref="@item.PropertyListingId">
                              <h3>Map</h3>
                              <div id="map-canvas" style="height:200px; width:300px;" />


                              <script type="text/javascript">
                                  $(document).ready(function () {
                                      $("[itemref=@(item.PropertyListingId)]").hide();
                                  });

                                  $("[itemtype=@(item.PropertyListingId)]").click(function () {
                                      var dialogOpts = {
                                          autoOpen: false,
                                          modal: true,
                                          resizable: false,
                                          draggable: false,
                                          width: 400,
                                          title: 'Location',
                                          buttons: {
                                              "Ok": function () {
                                                  $(this).dialog("close");
                                              }
                                          }
                                      };

                                      $("[itemref=@(item.PropertyListingId)]").dialog(dialogOpts).dialog('open');

                                      return false;


                                  });

                              </script>




                          </div>
                                
                      </li>
              
                  }
               </ul>
        </div>
        
    </div>  

  </div><!-- End of main -->

  <br />
</div><!-- end of content-wrapper -->

<!-- Details Dialog -->
<div id="details">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".apply_form").hide();
    });
</script>

<!-- Google Map API v.3 -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

    //Initize a map
    //
    var geocoder;
    var map;

    function initialize() {

        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(-34.397, 150.644);

        //Map options
        //
        var mapOptions = {

            center: new google.maps.LatLng(-34.397, 150.644),
            zoom: 8, //16,


            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: true,
            mapTypeControlOptions:
            {
                //style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                poistion: google.maps.ControlPosition.TOP_RIGHT,
                mapTypeIds: [google.maps.MapTypeId.ROADMAP,
                  google.maps.MapTypeId.TERRAIN,
                  google.maps.MapTypeId.HYBRID,
                  google.maps.MapTypeId.SATELLITE]
            },
            navigationControl: true,
            navigationControlOptions:
            {
                style: google.maps.NavigationControlStyle.ZOOM_PAN
            },
            scaleControl: true,
            disableDoubleClickZoom: true,
            draggable: true,
            streetViewControl: true,
            draggableCursor: 'move'


        };

        //Load map
        //
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);


        //Geocoder
        //





        //var latitude = 30.3296604;
        //var longitude = -97.8743174;


        //Marker
        //
        var marker = new google.maps.Marker
        (
            {
                position: new google.maps.LatLng(-34.397, 150.644),
                //position: new google.maps.LatLng(latitude, longitude),
                map: map,
                title: 'Click me'
            }
        );


        //Info window
        //
        var infowindow = new google.maps.InfoWindow({
            content: 'Location info: <br />Country Name:<br />LatLng:'
        });

        google.maps.event.addListener(marker, 'click', function () {
            // Calling the open method of the infoWindow
            infowindow.open(map, marker);
        });


    }



    google.maps.event.addDomListener(window, 'load', initialize);


    function codeAddress() {

        //var geocoder;
        //var map;
        var address = document.getElementById('address').value;

        //alert(address);

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    title: 'Click me',
                    position: results[0].geometry.location
                });


                //var latitude = results[0].geometry.location.lat();
                //var longitude = results[0].geometry.location.lng();


                //alert(latitude);
                //alert(longitude);
            }
            else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });

    }

</script>

