@model ProMaster.Core.Tenant.ViewModels.TenantScreenViewModel

@{
    ViewBag.Title = "_ScreenStatus";
}

<div id="doc_cat" class="accrd-style">
<table>


        <thead>
            	<tr>
                	<td colspan="9" class="table-h asphalt">
                    <span><i class="fa fa-th-list"></i></span> &nbsp;Application Screening Process
                    </td>                    
                </tr>	
         </thead>
        <tr>
                <th>Screen Process</th>
                <th>Status</th>                
                <th>Notes</th>
                <th></th>
        </tr> 
        @foreach (var item in Model.Screening)
        {   
            <tr> 
            
            <td>@item.ScreenCheckType</td>
                   <td> @item.ScreenCheckStatus </td>
                <!-- @item.ScreenCheckStatusId   --> 
                <td>@item.ScreenNotes</td>           
                <td><a href="#" id="@item.ScreenCheckTypeId" class="editLink" style="float:right;">Update</a></td>
             
            

<!-- update dialog -->
            
            <div item="@item.ScreenCheckTypeId" title="Screening Process" style="display:none;">            
            
                <fieldset class="ui-dia">
                <legend><i class="fa fa-gear"></i> Status Update</legend>
                    <div class="display-label">
                        Screen Process:
                    </div> 
                    <div class="display-field">
                        <div id="type" style="display:inline;"><strong>@item.ScreenCheckType</strong></div><br />
                    </div>
                    <div class="display-label">
                        Current Ssatus: 
                    </div>
                    <div class="display-field">
                        <div id="update" style="display:inline;">@item.ScreenCheckStatus</div> 
                    </div><br />
                    <div class="display-label">
                        Update: 
                    </div>
                    <div class="display-field">
                         <select name ="@item.ScreenCheckTypeId">
                            <option value="1" >NOT STARTED</option>
                            <option value="2" >PENDING</option>
                            <option value="3" >PASS</option>
                            <option value="4" >FAIL</option>
                            <option value="5" >Waived</option>
                             <option value="6">N/A</option>         
                        </select><br />
                    </div>
                    <div class="display-label">
                        Application ID: 
                    </div>
                    <div class="display-field">
                    <div id="appId">@item.ApplicationId</div>
                    </div><br />
                    <div class="display-label">
                        Notes: 
                    </div>
                    <div class="display-field">
                        <textarea itemref = "@item.ScreenCheckTypeId" style="width:300px; height:50px; "></textarea>
                    </div>
                </fieldset>
            </div>

            <script type="text/javascript">

    $(document).ready(function () {
        $(".editLink").button();

        $('#@item.ScreenCheckTypeId').click(function () {

            var appId = @(item.ApplicationId);
            // @(item.ScreenCheckStatusId);
            $("[name='@item.ScreenCheckTypeId']").prop('selectedIndex', @item.ScreenCheckStatusId -1);

            //Get existing notes content
            //
            $.ajax({
                type: "POST",
                url: "/Manage/GetNotes",
                data: "id=" + appId + "&tId=" + @(item.ScreenCheckTypeId),
                contenType: "",
                dataType: "json",
                success: Completed
            });

            //Load existing notes content
            //
            function Completed(data) {
                $("[itemref='@item.ScreenCheckTypeId']").val(data);
            }


            var dialogOpts = {
                autoOpen: false,
                modal: true,
                resizable: false,
                draggable: false,
                width: 440,
                title: 'Status Update',
                buttons: {
                    "Cancel": function () {
                        $("[item='@item.ScreenCheckTypeId']").dialog("close");
                    },
                    "Update": function () {

                        var status = $("[name='@item.ScreenCheckTypeId']").val();
                        //alert(status);
                        //alert(appId);
                        //alert(@(item.ScreenCheckTypeId));
                        var notes = $("[itemref='@item.ScreenCheckTypeId']").val();


                        //alert(notes);

                        $.ajax({
                            type: "POST",
                            url: "/Manage/UpdateStatus",
                            data: "id=" + appId + "&sId=" + status + "&tId=" + @(item.ScreenCheckTypeId) + "&notes=" + notes,

                            contenType: "",
                            dataType: "json",
                            success: Suceeded
                        });

                        $("[item='@item.ScreenCheckTypeId']").dialog("close");

                        function Suceeded(data) {

                            $('#updated').html(data);



                            // Refresh the status view
                            //
                            var url="/Tools/GetScreenStatusByAppId/";
                            var q="id=" + appId;
                            //alert(q);
                            $.get(url, q, function(data){
                                $("#state").html(data);
                            });
                            return false;

                            $('#updated').delay(5000).fadeOut(4000);
                        }
                    }

                }
            }



            $("[item='@item.ScreenCheckTypeId']").dialog(dialogOpts).dialog('open');

            return false;

        });
    });
    </script>

            </tr>
        }            
        


</table>
<div id="updated"></div>

</div>
<!-- <div id="msg"></div> -->
