@model ProMaster.Core.ClientPortal.ViewModels.DisplayClientPortalViewModel

<table>
    <thead class="table_head">
        <tr>
            <td colspan="6" class="table-h table_head">
                <span><i class="icon-clipboard-2"></i></span> Rent Revenue
            </td>
        </tr>
    </thead>
    <tr>
        <th class="table_th">Month/Year</th>
        <th class="table_th">Payment Date</th>
        <th class="table_th">Revenue Amount</th>
        <th class="table_th">Tranferred</th>
        <th class="table_th">Notes</th>
        <th class="table_th"></th>
    </tr>
    @if (@Model.RentRevenueHisotry != null)
    {
        foreach (var item in Model.RentRevenueHisotry)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMoth)/@Html.DisplayFor(modelItem => item.PaymentYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDepositForOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>

                <td>
                    <div class="table-button"><a href="@Url.Action("RentPaymentDetails", "Manage", new { id = item.RentPaymentId })"><img src="@Url.Content("~/Content/Images/details.png")" title="Details" /></a></div>
                </td>

            </tr>
        }

    }
    else
    {
        <tr>
            <td colspan="6">
                <em>No records!</em>
            </td>
        </tr>
    }
    <tfoot class="table_th">
        <tr>
            <td colspan="6"><span><i class="icon-clipboard-2"></i></span></td>

        </tr>
    </tfoot>

</table><br />