@model ProMaster.Core.ClientPortal.ViewModels.DisplayClientPortalViewModel

<table>
    <thead class="table_head">
        <tr>
            <td colspan="6" class="table-h table_head">
                <span><i class="icon-clipboard-2"></i></span> Rent Payment History
            </td>
        </tr>
    </thead>
    <tr>
        <th class="table_th">Month/Year</th>
        <th class="table_th">Payment Date</th>
        <th class="table_th">Payment Amount</th>
        <th class="table_th">Paid Ontiem</th>
        <th class="table_th">Notes</th>
        <th class="table_th"></th>
    </tr>
    @if (@Model.PaymentHisotry.Count() != 0)
    {
        foreach (var item in Model.PaymentHisotry)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMoth)/@Html.DisplayFor(modelItem => item.PaymentYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentOnTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>

                <td>
                    <div class="table-button"><a href="@Url.Action("GenerateRentRecipt", "Manage", new { id = item.RentPaymentId })" target="_blank"><img src="@Url.Content("~/Content/Images/details.png")" title="Rent Receipt" /></a></div>
                </td>

            </tr>
        }

    }
    else
    {
        <tr>
            <td colspan="6" >
                <em>No records!</em>
            </td>
        </tr>
    }
    <tfoot class="table_th">
        <tr>
            <td colspan="6"><span><i class="icon-clipboard-2"></i></span></td>

        </tr>
    </tfoot>

</table><br />